:host 
{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 1.5em;
  padding: .25em .5em;
  box-sizing: border-box;
}

:host > mat-chip-grid
{
  flex-grow: 1;
}

:host::ng-deep .mdc-evolution-chip-set__chips
{
  align-items: center;
}

:host::ng-deep .mat-mdc-chip-action-label
{
  display: flex;
}

.qualifier
{
  padding-inline-start: .5em;
}

mat-chip-grid:not(:focus-within):not(:hover) .optionSelector:not(.active),
.optionSelector.empty
{
  visibility: hidden;
}

.optionSelector:not([hidden])
{
  padding: 0 .5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.optionSelector::ng-deep .mat-mdc-form-field-infix
{
  width: auto;
  min-height: auto;
  padding: 0 !important;
}

.optionSelector::ng-deep .mat-mdc-chip-input
{
  margin: 0;
}

.optionSelector::ng-deep .mat-mdc-text-field-wrapper
{
  padding: 0 .25em;
}

mat-option::ng-deep .mdc-list-item__primary-text
{
  white-space: nowrap;
}

.optionValue
{
  min-width: 1em;
  max-width: 20em;
}

.integerOption,
.decimalOption,
.dateOption
{
  direction: ltr;
}

.dateOption
{
  min-width: 3em;
}

.decimalOption
{
  min-width: 3em;
}
