<mat-chip-grid #chipGrid (keydown.escape)="cancel(true)" (click)="cancel(true)">
    <ng-container *ngFor="let current of items">
        <mat-chip-row *ngIf="current !== editItem; else optionSelector" (removed)="remove(current)"
            (keydown.enter)="edit(current)" (click)="edit(current, $event)" (keydown.space)="toggleQualifier(current, $event)">
            <mat-icon class="qualifier" [inline]="true" *ngIf="current.qualifier?.icon"
                (click)="toggleQualifier(current, $event)">{{current.qualifier!.icon}}</mat-icon>
            <ng-container *ngIf="current.option.type === 'tag'; else valueChip">
                <span (click)="toggleQualifier(current, $event)">{{current.option.title}}</span>
            </ng-container>
            <ng-template #valueChip>
                <span (click)="toggleQualifier(current, $event)">{{current.option.title}}: </span>
                <span>{{format(current.option, current.value, false)}}</span>
            </ng-template>
            <button matChipRemove
                *ngIf="!current.option.readonly && !current.option.required"><mat-icon>cancel</mat-icon></button>
        </mat-chip-row>
    </ng-container>

    <ng-container *ngIf="!editItem" [ngTemplateOutlet]="optionSelector"></ng-container>
</mat-chip-grid>
<input type="text" hidden [matChipInputFor]="chipGrid">
<button mat-icon-button (click)="cancel(false); search.emit(items)">
    <mat-icon>search</mat-icon>
</button>

<ng-template #optionSelector>
    <div class="optionSelector" *ngIf="{ option: getOption(false) } as selected" [ngSwitch]="selected.option?.type"
        [class.empty]="!filteredOptions.length" [class.active]="active" (click)="$event.stopPropagation()">
        <mat-icon class="qualifier" [inline]="true" *ngIf="item.qualifier?.icon"
            (click)="toggleQualifier(item, $event)">{{item.qualifier!.icon}}</mat-icon>
        <mat-form-field subscriptSizing="dynamic">
            <input autoSize matInput class="option" type="text" [(ngModel)]="item.option" (change)="optionChange()"
                (keydown.enter)="optionChange()" [matAutocomplete]="itemOptionAutocomplete"
                [readonly]="filteredOptions.length < 2" />:
            <mat-autocomplete #itemOptionAutocomplete="matAutocomplete" panelWidth="auto"
                (optionSelected)="optionChange()" [displayWith]="formatOption" (opened)="popup=true"
                (closed)="popup=false">
                <mat-option *ngFor="let option of filteredOptions" [value]="option">
                    {{option.title}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <ng-container *ngSwitchCase="'string'" [ngSwitch]="!!selected.option!.values">
            <ng-container *ngSwitchCase="false">
                <mat-form-field subscriptSizing="dynamic">
                    <input autoSize matInput class="stringOption optionValue" type="text"
                        [required]="!!selected.option!.required" [validateFn]="validate" #optionValue #optionModel="ngModel"
                        [(ngModel)]="item.value" (change)="add()" (keydown.enter)="add()">
                </mat-form-field>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <mat-form-field subscriptSizing="dynamic">
                    <input autoSize matInput class="stringOption optionValue" type="text"
                        [required]="!!selected.option!.required" [validateFn]="validate" #optionValue #optionModel="ngModel"
                        [(ngModel)]="item.value" (change)="add()" (keydown.enter)="add()"
                        [matAutocomplete]="optionAutocomplete" />
                    <mat-autocomplete #optionAutocomplete="matAutocomplete" panelWidth="auto" (optionSelected)="add()"
                        (opened)="popup=true" (closed)="popup=false" [displayWith]="formatValue">
                        <mat-option *ngFor="let value of selected.option!.values!(item.value) | async" [value]="value">
                            {{format(selected.option!, value)}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'integer'" [ngSwitch]="!!selected.option!.values">
            <ng-container *ngSwitchCase="false">
                <mat-form-field subscriptSizing="dynamic">
                    <input autoSize matInput class="integerOption optionValue" type="text" [validateFn]="validate"
                        [required]="!!selected.option!.required" #optionValue #optionModel="ngModel" [(ngModel)]="item.value"
                        (change)="add()" (keydown.enter)="add()" />
                </mat-form-field>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <mat-form-field subscriptSizing="dynamic">
                    <input autoSize matInput class="integerOption optionValue" type="text"
                        [required]="!!selected.option!.required" [validateFn]="validate" #optionValue #optionModel="ngModel"
                        [(ngModel)]="item.value" (change)="add()" (keydown.enter)="add()"
                        [matAutocomplete]="optionAutocomplete" />
                    <mat-autocomplete #optionAutocomplete="matAutocomplete" panelWidth="auto" (optionSelected)="add()"
                        (opened)="popup=true" (closed)="popup=false" [displayWith]="formatValue">
                        <mat-option *ngFor="let value of selected.option!.values!(item.value) | async" [value]="value">
                            {{format(selected.option!, value)}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'decimal'">
            <mat-form-field subscriptSizing="dynamic">
                <input autoSize matInput class="decimalOption optionValue" type="text"
                    [required]="!!selected.option!.required" [validateFn]="validate" #optionValue #optionModel="ngModel"
                    [(ngModel)]="item.value" (change)="add()" (keydown.enter)="add()" />
            </mat-form-field>
        </ng-container>

        <ng-container *ngSwitchCase="'date'">
            <mat-form-field subscriptSizing="dynamic">
                <input autoSize matInput class="dateOption optionValue" type="text" #optionValue #optionModel="ngModel"
                    [required]="!!selected.option!.required" [validateFn]="validate" [(ngModel)]="item.value"
                    (dateChange)="popup=false; add()" (keydown.enter)="add()" [matDatepicker]="datePicker" />
                <mat-datepicker #datePicker (opened)="popup=true" (closed)="popup=false"></mat-datepicker>
            </mat-form-field>
            <mat-datepicker-toggle class="optionValueToggle" [for]="datePicker"></mat-datepicker-toggle>
        </ng-container>
    </div>
</ng-template>