<mat-chip-grid #chipGrid (keydown.escape)="cancel()">
    <mat-chip-row *ngFor="let item of items" (removed)="remove(item)" (dblclick)="edit(item)"
        (keydown.enter)="edit(item)" [highlighted]="item == editItem">
        {{format(item.option, item.value)}}
        <button matChipRemove *ngIf="!item.option.readonly"><mat-icon>cancel</mat-icon></button>
    </mat-chip-row>

    <input type="text" hidden [matChipInputFor]="chipGrid">

    <div class="optionSelector" *ngIf="{ option: getOption(false) } as item"
        [ngSwitch]="item.option?.type" [class.empty]="!filteredOptions.length"
        [class.active]="active">
        <mat-form-field subscriptSizing="dynamic">
            <input autoSize matInput class="option" type="text"
                [(ngModel)]="itemOption" (change)="optionChange()" (keydown.enter)="optionChange()"
                [matAutocomplete]="itemOptionAutocomplete" />
            <mat-autocomplete #itemOptionAutocomplete="matAutocomplete" panelWidth="auto" (optionSelected)="optionChange()"
                [displayWith]="formatOption"
                (opened)="togglePopup(true)" (closed)="togglePopup(false)">
                <mat-option *ngFor="let option of filteredOptions" [value]="option">
                    {{option.title}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <ng-container *ngSwitchCase="ItemType.String" [ngSwitch]="!!item.option!.values">
            <ng-container *ngSwitchCase="false">
                <mat-form-field subscriptSizing="dynamic">
                    <input autoSize matInput class="stringOption optionValue" type="text" #optionValue
                        [validateFn]="validate" #optionModel="ngModel" [(ngModel)]="itemValue" (change)="add()"
                        (keydown.enter)="add()">
                </mat-form-field>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <mat-form-field subscriptSizing="dynamic">
                    <input autoSize matInput class="stringOption optionValue" type="text" #optionValue
                        [validateFn]="validate" #optionModel="ngModel" [(ngModel)]="itemValue" (change)="add()"
                        (keydown.enter)="add()" [matAutocomplete]="optionAutocomplete" />
                    <mat-autocomplete #optionAutocomplete="matAutocomplete" panelWidth="auto" (optionSelected)="add()"
                        (opened)="togglePopup(true)" (closed)="togglePopup(false)">
                        <mat-option *ngFor="let value of item.option!.values!(itemValue) | async" [value]="value">
                            {{format(item.option!, value)}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="ItemType.Integer" [ngSwitch]="!!item.option!.values">
            <ng-container *ngSwitchCase="false">
                <mat-form-field subscriptSizing="dynamic">
                    <input autoSize matInput class="integerOption optionValue" type="text" [validateFn]="validate"
                        #optionValue #optionModel="ngModel" [(ngModel)]="itemValue" (change)="add()"
                        (keydown.enter)="add()" />
                </mat-form-field>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <mat-form-field subscriptSizing="dynamic">
                    <input autoSize matInput class="integerOption optionValue" type="text" #optionValue
                        #optionModel="ngModel" [validateFn]="validate" [(ngModel)]="itemValue" (change)="add()"
                        (keydown.enter)="add()" [matAutocomplete]="optionAutocomplete" />
                    <mat-autocomplete #optionAutocomplete="matAutocomplete" panelWidth="auto" (optionSelected)="add()"
                        (opened)="togglePopup(true)" (closed)="togglePopup(false)">
                        <mat-option *ngFor="let value of item.option!.values!(itemValue) | async" [value]="value">
                            {{format(item.option!, value)}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="ItemType.Decimal">
            <mat-form-field subscriptSizing="dynamic">
                <input autoSize matInput class="decimalOption optionValue" type="text" [validateFn]="validate"
                    #optionValue #optionModel="ngModel" [(ngModel)]="itemValue" (change)="add()"
                    (keydown.enter)="add()" />
            </mat-form-field>
        </ng-container>

        <ng-container *ngSwitchCase="ItemType.Date">
            <mat-form-field subscriptSizing="dynamic">
                <input autoSize matInput class="dateOption optionValue" type="text" #optionValue #optionModel="ngModel"
                    #dateValue="matDatepickerInput"
                    [validateFn]="validate" [(ngModel)]="itemValue" (dateChange)="togglePopup(false); add()"
                    (keydown.enter)="add()" [matDatepicker]="datePicker" />
                <mat-datepicker #datePicker (opened)="togglePopup(true)" (closed)="togglePopup(false)"></mat-datepicker>
            </mat-form-field>
            <mat-datepicker-toggle class="optionValueToggle" [for]="datePicker"></mat-datepicker-toggle>
        </ng-container>
    </div>
</mat-chip-grid>
<button mat-icon-button (click)="search.emit(items)">
    <mat-icon>search</mat-icon>
</button>