<mat-chip-grid #chipGrid (keydown.escape)="cancel()">
    <ng-container *ngFor="let item of items">
        <mat-chip-row (removed)="remove(item)" (dblclick)="edit(item)" (keydown.enter)="edit(item)"
            (keydown.space)="toggleQualifier(item, $event)" *ngIf="item != editItem">
            <mat-icon [inline]="true" *ngIf="item.qualifier"
                (click)="toggleQualifier(item, $event)">{{item.qualifier.icon}}</mat-icon>
            {{format(item.option, item.value)}}
            <button matChipRemove *ngIf="!item.option.readonly"><mat-icon>cancel</mat-icon></button>
        </mat-chip-row>
    </ng-container>

    <input type="text" hidden [matChipInputFor]="chipGrid">

    <div class="optionSelector" *ngIf="{ option: getOption(false) } as item" [ngSwitch]="item.option?.type"
        [class.empty]="!filteredOptions.length" [class.active]="active">
        <mat-form-field subscriptSizing="dynamic">
            <input autoSize matInput class="option" type="text" [(ngModel)]="itemOption" (change)="optionChange()"
                (keydown.enter)="optionChange()" [matAutocomplete]="itemOptionAutocomplete"
                [readonly]="filteredOptions.length < 2" />
            <mat-autocomplete #itemOptionAutocomplete="matAutocomplete" panelWidth="auto"
                (optionSelected)="optionChange()" [displayWith]="formatOption" (opened)="popup=true"
                (closed)="popup=false">
                <mat-option *ngFor="let option of filteredOptions" [value]="option">
                    {{option.title}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <ng-container *ngSwitchCase="'string'" [ngSwitch]="!!item.option!.values">
            <ng-container *ngSwitchCase="false">
                <mat-form-field subscriptSizing="dynamic">
                    <input autoSize matInput class="stringOption optionValue" type="text" #optionValue
                        [validateFn]="validate" #optionModel="ngModel" [(ngModel)]="itemValue" (change)="add()"
                        (keydown.enter)="add()">
                </mat-form-field>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <mat-form-field subscriptSizing="dynamic">
                    <input autoSize matInput class="stringOption optionValue" type="text" #optionValue
                        [validateFn]="validate" #optionModel="ngModel" [(ngModel)]="itemValue" (change)="add()"
                        (keydown.enter)="add()" [matAutocomplete]="optionAutocomplete" />
                    <mat-autocomplete #optionAutocomplete="matAutocomplete" panelWidth="auto" (optionSelected)="add()"
                        (opened)="popup=true" (closed)="popup=false" [displayWith]="formatValue">
                        <mat-option *ngFor="let value of item.option!.values!(itemValue) | async" [value]="value">
                            {{format(item.option!, value)}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'integer'" [ngSwitch]="!!item.option!.values">
            <ng-container *ngSwitchCase="false">
                <mat-form-field subscriptSizing="dynamic">
                    <input autoSize matInput class="integerOption optionValue" type="text" [validateFn]="validate"
                        #optionValue #optionModel="ngModel" [(ngModel)]="itemValue" (change)="add()"
                        (keydown.enter)="add()" />
                </mat-form-field>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <mat-form-field subscriptSizing="dynamic">
                    <input autoSize matInput class="integerOption optionValue" type="text" #optionValue
                        #optionModel="ngModel" [validateFn]="validate" [(ngModel)]="itemValue" (change)="add()"
                        (keydown.enter)="add()" [matAutocomplete]="optionAutocomplete" />
                    <mat-autocomplete #optionAutocomplete="matAutocomplete" panelWidth="auto" (optionSelected)="add()"
                        (opened)="popup=true" (closed)="popup=false" [displayWith]="formatValue">
                        <mat-option *ngFor="let value of item.option!.values!(itemValue) | async" [value]="value">
                            {{format(item.option!, value)}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'decimal'">
            <mat-form-field subscriptSizing="dynamic">
                <input autoSize matInput class="decimalOption optionValue" type="text" [validateFn]="validate"
                    #optionValue #optionModel="ngModel" [(ngModel)]="itemValue" (change)="add()"
                    (keydown.enter)="add()" />
            </mat-form-field>
        </ng-container>

        <ng-container *ngSwitchCase="'date'">
            <mat-form-field subscriptSizing="dynamic">
                <input autoSize matInput class="dateOption optionValue" type="text" #optionValue #optionModel="ngModel"
                    #dateValue="matDatepickerInput" [validateFn]="validate" [(ngModel)]="itemValue"
                    (dateChange)="popup=false; add()" (keydown.enter)="add()" [matDatepicker]="datePicker" />
                <mat-datepicker #datePicker (opened)="popup=true" (closed)="popup=false"></mat-datepicker>
            </mat-form-field>
            <mat-datepicker-toggle class="optionValueToggle" [for]="datePicker"></mat-datepicker-toggle>
        </ng-container>
    </div>
</mat-chip-grid>
<button mat-icon-button (click)="search.emit(items)">
    <mat-icon>search</mat-icon>
</button>