<chips-filter dir="rtl" [options]="options" [(items)]="items" [optionsStyle]="optionsStyle" (search)="searchCount = searchCount + 1"></chips-filter>
<div style="padding: 1em;">
<div>
    <mat-form-field appearance="fill" subscriptSizing="dynamic">
        <mat-label>Options style</mat-label>
        <mat-select [(ngModel)]="optionsStyle">
            <mat-option value="visible">Visible</mat-option>
            <mat-option value="hideInactive">Hide inactive</mat-option>
            <mat-option value="shadowInactive">Shadow inactive</mat-option>
        </mat-select>
    </mat-form-field>    
</div>
<br>
<div>Selected items:</div>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Name</th>
        <th>Value</th>
        <th>Qualifier</th>
    </tr>
    <tr *ngFor="let item of items">
        <td>{{item.option.title}}</td>
        <td>{{item.option.name}}</td>
        <td>{{item.value|json}}</td>
        <td>{{item.qualifier?.value}}</td>
    </tr>
</table>
<br>
<div>Searches: {{searchCount}}</div>
</div>
<router-outlet></router-outlet>
