<app-filter dir="rtl" [options]="options" [(items)]="items" [autohideOptions]="autohide" (search)="searchCount = searchCount + 1"></app-filter>
<div style="padding: 1em;">
<div>Autohide: <input type="checkbox" [(ngModel)]="autohide"></div>
<br>
<div>Selected items:</div>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Value</th>
    </tr>
    <tr *ngFor="let item of items">
        <td>{{item.option.title}}</td>
        <td>{{item.value}}</td>
    </tr>
</table>
<br>
<div>Searches: {{searchCount}}</div>
</div>
<router-outlet></router-outlet>
